$border-grey :#EEEEEE;
$primary-green : #025F4C;
$primary-white: white;
$primary-green-light: #0D7963;
$background-grey: #F8F9FA;
$primary-red-light :#FFF2F2;
$primary-red: #EB5757;
$text-primary : #595959;
$text-secondary : #7F8785;
$primary-yellow: #FDD506;






